/.CrearGatoEncerradoWindow.java._trace
/.CrearGatoEncerradoWindow.xtendbin
/.GatoApplication.java._trace
/.GatoEncerradoApplication.java._trace
/.GatoEncerradoApplication.xtendbin
/CrearGatoEncerradoWindow.java
/GatoEncerradoApplication.java
